:root {
	--panel-width: 250px;
	--panel-padding: 10px;
	--panel-bg: #eee; }

html, body {
	width: 100%;
	height: 100%; 
	margin: 0;
	padding: 0; }
	
#controls {
	position: absolute;
	height: calc(100% - 2 * var(--panel-padding));
	width: var(--panel-width);
	right: 0px;
	padding: var(--panel-padding);  
	background: var(--panel-bg);
	border-left: 2px solid grey;
	z-index: 999; }
#map {
	position: absolute;
	height: 100%;
	width: calc(100% - var(--panel-width)); }

button, input {
	display: block;
	width: 100%;
	margin-bottom: 7px; }
input {
	width: calc(100% - var(--panel-padding));
	background: white;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 2px; }
input:read-only {
	background: yellow; }
	
#search-results, 
#geocoding-results {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	right: calc( var(--panel-width) + 2* var(--panel-padding));
	background: var(--panel-bg); 
	width: var(--panel-width);
	border-radius: 5px; 
	list-style: none; }
#search-results li,
#geocoding-results li {
	padding: 10px;
	border-top: 1px solid grey; }
#search-results li:hover,
#geocoding-results li:hover {
	background: #fbb; }
	
#geocoding-results {
	top: auto;
	bottom: 0; }
