:root {
	--panel-width: 270px;
	--panel-padding: 10px;
	--panel-bg: #eee; }

html, body {
	width: 100%;
	height: 100%; 
	margin: 0;
	padding: 0; }
	
#controls {
	position: absolute;
	height: calc(100% - 2 * var(--panel-padding));
	width: var(--panel-width);
	right: 0px;
	padding: var(--panel-padding);  
	background: var(--panel-bg);
	border-left: 2px solid grey;
	z-index: 999; }
#map {
	position: absolute;
	height: 100%;
	width: calc(100% - var(--panel-width)); }

button {
	display: block;
	width: 100%;
	margin-bottom: 7px; }

#text-inputs {
	display: flex;
	flex-direction: column; }
.input-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center; }
.input-container label { 
	white-space: nowrap;
	margin-right: 10px; }
.input-container input {
	flex: 2;
	min-width: 10px; }
#text-inputs .input-container.empty { 
	order: 1; } /*throw empty inputs to the bottom*/
#text-inputs .input-container.empty input { 
	display: block; } 
input {
	margin: 3px; 
	max-width: calc(100% - var(--panel-padding));
	background: white;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 2px; }
input:read-only {
	background: yellow; }
 
	
#results {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	right: calc( var(--panel-width) + 2* var(--panel-padding));
	background: var(--panel-bg); 
	width: var(--panel-width);
	border-radius: 5px; 
	list-style: none; }
#results li {
	padding: 10px;
	border-top: 1px solid grey; }
#results li.own-search { background: rgba(0,0,255,0.2); }
#results li.own-search:hover { background: rgba(0,0,255,0.4); }
#results li.nominatim-search { background: rgba(255,0,0,0.2); }
#results li.nominatim-search:hover { background: rgba(255,0,0,0.4); }
	
